/*----------------------------------------------------------------------------
    Reset
----------------------------------------------------------------------------*/

html{
    box-sizing: border-box;
    font-size: 62.5%;

    scroll-behavior: smooth;
}

*,*:before,*:after{
    box-sizing: inherit;
}


/*------------------------------------------------------------------------------
   Base
------------------------------------------------------------------------------*/

body{
    background: #000 url(../images/fond/global.png) repeat;
    font: 1.6rem "Oranienbaum", serif;
    color: #fff;
}

div{
    margin-right: auto;
    margin-left: auto;
}

a{
    color: #fff;
    text-decoration: none;

    padding: 10px 0 10px;
}

a:hover{
    color: darkorange;
}



/*------------------------------------------------------------------------------
   Modules
------------------------------------------------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */

header, section{
    display: flex;
    height: 100vh;

    align-items: center;
    scroll-behavior: smooth;
}

.boite{
    width: 800px;
    padding: 48px;
    background-color: rgba(0, 0, 0, 80%);
    border-radius: 10px;
}

/*---------------------------------------
                header
 ---------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */

header{  
    text-align: center;
    position: relative;

    scroll-behavior: smooth;
}

h1{
    font: 400 normal 8rem "Monoton", sans-serif;
}

header a{
    position: absolute;
    bottom: 40px;
    right: 45%;
    left: 45%;
}

/*---------------------------------------
                Section Générale
 ---------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */

h2{
    font: 400 normal 3.2rem "Monoton", sans-serif;
    text-transform: uppercase;

    margin: 0;
}

span{
    font: 1.7rem "Oranienbaum", serif;
    text-transform: none;
}

.images{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.images a{
    width: 200px;
    text-align: center;
}

a img{
    width: 100%;
    padding-bottom: 10px;
}

a[hreflang="ja"]::after{
    content: "[en japonais]";
}

/*---------------------------------------
                Section sports
 ---------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */

.sports{
    background: url(../images/fond/bicycles.png) fixed;
}

/*---------------------------------------
                Section web
 ---------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */

.web{
    background: url(../images/fond/science.png) fixed;
}

.web img{
    width: 50%;
}

.web .images{
    margin-bottom: 50px;
}

.web a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.lien_float a{
    padding: 10px;
    background-color: darkred;
}



/*---------------------------------------
             Section photographie
 ---------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */

.photos{
    background: url(../images/fond/fond.jpg) no-repeat fixed center/cover;
}

.photos .images{
    display: flex;
    flex-direction: column;
}

.photos img{
    width: 30%;
}

.photos a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*---------------------------------------
    Icône retour
---------------------------------------*/

.haut{
    width: 40px;
    height: 40px;

    background-color: rgba(255, 255, 255, 80%);

    border: solid 4px #fff;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;    
    
    position: fixed;
    bottom: 20px;
    right: 15vw;
}


.haut:hover{ 
    color: darkorange;
    border-color: darkorange;
}

.material-symbols-outlined{
    font: 4rem;
}